<h1>Novo departamento</h1>

<form action="/department/save" method="post">
  Nome<br>
  <input type="text" name="name"><br>
  Gerente<br>
  <select name="employee_id">
    <option value="0">.: SELECIONE :.</option>
    <% @employees.each do |employee| -%>
      <option value="<%= employee.id %>"> <%= employee.name %> </option>
    <% end %>
  </select>

  <br><br>

  <input type="submit" value="Salvar">
  <a href="/department/index">
    <button>
      Departamentos
    </button>
  </a>
</form>


