<h1>Listagem de departamentos</h1>

<table>
  <tr>
    <th>id</th>
    <th>Nome</th>
    <th>Ações</th>
  </tr>
  <% @departments.each do |department| -%>
    <tr>
      <td><%= department.id %></td>
      <td><%= department.name %></td>
      <td>
        <a href="/department/edit/<%= department.id %>">
          <button>
            Editar
          </button>
        </a>

        <a href="/department/delete/<%= department.id %>">
          <button>
            Excluir
          </button>
        </a>
      </td>
    </tr>
  <% end -%>
</table>

<br>

<a href="/department/add">
  <button>
    Novo departamento
  </button>
</a>

<a href="/">
  <button>
    Dados gerais
  </button>
</a>
