<h1>Editar cargo</h1>

<form action="/function/save" method="post">
  id:<br>
  <input type="text" name="id" value="<%= @function.id %>" readonly="readonly"><br>
  Nome<br>
  <input type="text" name="name" value="<%= @function.name %>">
  <br><br>
  <input type="submit" value="Salvar">
</form>


