<h1>Dados gerais</h1>

<a href="/function/index">
  <button>
    Cargos
  </button>
</a>

<a href="/employee/index">
  <button>
    Funcionários
  </button>
</a>

<a href="/department/index">
  <button>
    Departamentos
  </button>
</a>

<p>Find me in app/views/general/index.html.erb</p>
