<h1>Dados gerais</h1>

<a href="/department/index">
  <button>
    Departamentos
  </button>
</a>

<a href="/employee/index">
  <button>
    Funcionários
  </button>
</a>

<p>

<table>
  <tr>
    <th>Departamento</th>
    <th>Soma de salários</th>
    <th>Percentagem do total</th>
  </tr>
  <% @data.each do |data| -%>
    <tr>
      <td><%= data[0].name %></td>
      <td><%= data[1] %></td>
      <td><%= (data[1].to_f / @allDepartmentsSum.to_f * 100.0).round(2) %>%</td>
    </tr>
  <% end -%>
  <tr>
    <td>Todos os departamentos</td>
    <td><%= @allDepartmentsSum %></td>
    <td> 100% </td>
  </tr>
</table>